<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="<%= title %>">
    <meta property="og:description" content="<%= description %>">
    <meta property="og:image" content="<%= image %>">
    <!- <meta property="og:type" content="<%= type %>"> -->
    <!-- <meta http-equiv="refresh" content="0; url={{redirectUrl}}"> -->
    <!-- Other OG meta tags here --
    <title><%= title %></title>
</head>
<body>
    <!- Your redirection logic here, e.g., JavaScript redirect ->
    <script>
        window.location.href = 'OriginalURL';
    </script>
</body> ->
</html>-->
